.player-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh; /* Adjusted height */
  background-color: #f3f4f6; /* Tailwind's bg-gray-100 */
  width: 100%; /* Added */
}

.search-container {
  width: 100%;
  max-width: 32rem; /* Tailwind's max-w-2xl */
}
